{% extends "main/base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static "deps/css/stylegl.css" %}">
{% endblock css%}
{% block html %}
        <section id="about">
            <h2>О мне</h2>
            <p>"Математика и информатика - это легко!  Хочешь разобраться в сложных формулах и алгоритмах? Сделаем математику и информатику твоими любимыми предметами!  Я помогу тебе:
                Понять сложные темы
                Подготовиться к экзаменам и олимпиадам
                Развить логическое мышление
                Научиться программировать
                Занятия проходят в удобное для тебя время и формате."</p>
            <img src="{% static "deps/source/ava.jpg" %}" alt="Ваше фото" class="rounded-image">
        </section>
        <section id="services">
            <h2>Услуги</h2>
            <ul>
                <li>Подготовка к экзаменам</li>
                <li>Повышение успеваемости</li>
            </ul>
        </section>
{% endblock html %}
