{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    <link rel="icon" href="{% static "deps/source/Designer.ico" %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Репетиторство от burny</h1>
    </header>
    <ul class="tab-list">
        <li class="tab">Главная</li>
        <li class="tab dropdown">Материалы
            <ul class="dropdown-content">
                <li><a href="#">Математика</a></li>
                <li><a href="#">Информатика</a></li>
              </ul>
        </li>
        <li class="tab">Задания</li>
        <li class="tab">Контакты</li>
        <li class="tab tab-profile">
          <a href="#">
            <span class="profile-icon"></span>
            Личный кабинет
          </a>
        </li>
      </ul>
    <main>
        <section id="about">
            <h2>О мне</h2>
            <p>"Математика и информатика - это легко!  Хочешь разобраться в сложных формулах и алгоритмах? Сделаем математику и информатику твоими любимыми предметами!  Я помогу тебе:

                Понять сложные темы
                Подготовиться к экзаменам и олимпиадам
                Развить логическое мышление
                Научиться программировать
                Занятия проходят в удобное для тебя время и формате."</p>
            <img src="{% static "deps/source/foto.jpg" %}" alt="Ваше фото" class="rounded-image">
        </section>

        <section id="services">
            <h2>Услуги</h2>
            <ul>
                <li>Подготовка к экзаменам</li>
                <li>Повышение успеваемости</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Copyright © 2024 Felix Zhelvis</p>
    </footer>
</body>
</html>