{% extends "main/base.html" %}
{% load static %} 
 
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/styleinf.css" %}">
{% endblock css %}

{% block html %}
    <header>
        <h1>Задания по информатике</h1>
    </header>
    <main>
        <section class="task">
            <h2>Задание 13: Работа с сетью</h2>
            <p>Возможны два варианта решения, руками и библиотекой ipaddress</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/13type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 14: Перевод в различные системы исчисления</h2>
            <p>Легкое задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/14type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 15: На функции</h2>
            <p>Легкое задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/15type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 17: На работу с файлом</h2>
            <p>Среднее задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/17type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 19-21: Теория игр</h2>
            <p>Возможен вариант решения на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/19-21type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 23: На работу с функциями</h2>
            <p>Легкое задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/23type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 24: На работу со строкой</h2>
            <p>Сложное задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/24type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 25: На делители</h2>
            <p>Сложное задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/25type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 27: На кластеры</h2>
            <p>Сложное задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/27type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        <section class="task">
            <h2>Задание 9: На таблицы</h2>
            <p>Среднее задание, которое делается на python</p>
            <a href="https://github.com/msfelzhel/egeinf/tree/main/9type/easy" class="gitbut" target="_blank">Решение на GitHub</a>
        </section>
        </main>
{% endblock html %}